@tailwind base;
@tailwind components;
@tailwind utilities;

.layout {
    max-width: 900px;
    margin: 0 auto;
}
.layout-content {
    padding: 0 24px;
}
@media only screen and (min-width: 768px) {
    .layout-content {
        padding: 0 96px;
    }
}

.notion-font-color-blue {
    color: rgba(51, 126, 169, 1);
    fill: rgba(51, 126, 169, 1);
}
.notion-font-color-red {
    color: rgba(212, 76, 71, 1);
    fill: rgba(212, 76, 71, 1);
}
.notion-font-color-purple {
    color: rgba(144, 101, 176, 1);
    fill: rgba(144, 101, 176, 1);
}
.notion-font-color-green {
    color: rgba(68, 131, 97, 1);
    fill: rgba(68, 131, 97, 1);
}
.notion-font-color-yellow_background {
    background: rgba(251, 243, 219, 1);
}

.pseudoBefore:before {
    background: var(--pseudoBefore--background);
    border: var(--pseudoBefore--border);
    color: var(--pseudoBefore--color);
    content: var(--pseudoBefore--content);
    display: var(--pseudoBefore--display)!important;
    font-family: var(--pseudoBefore--fontFamily);
    height: var(--pseudoBefore--height);
    width: var(--pseudoBefore--width)
}